@font-face {  
  font-family: clemente ;  
  src: url( /fonts/ClementePDaa-Hairline.ttf );
}  

.strikethrough {
	text-decoration: line-through;
}

body {
	font-family: "clemente", Arial, "MS Trebuchet", sans-serif;
	min-height: 768px;
	font-size: 100%;
	line-height: 1.75em;
}

#container{
	min-height: 768px;
	width: 1024px;
	margin: auto;
}

#header {
	#title_text {
		font-size: 250%;
		margin: 1px 0px 10px 5px;
	}
	border-bottom: 1px solid #000;
	
}

h2, h4 {
	margin: 1px 0px 1px 5px;;		
}

#nav {
	border-bottom: 1px solid #000;
	font-size: 70%;
	margin-bottom: 10px;
	ul {
		padding-left: 1px;
		margin-top: 1px;
		margin-bottom: 1px;
	}
	
	li {
		list-style-type: none;
		display: inline;
		margin-right: 5px;
		margin-left: 5px;
		a {
			text-decoration : none;
		}
		a:hover{
			text-decoration: underline;
		}
		
	}
}

#new_post_link {
	font-size: 70%;
}

#footer {
	border-top: 1px solid #000;
	font-size: 70%;
}

#error_messages {
	border: 2px solid #FF0000;
	width: 99%;
}

/* Solution for a div that rails adds to modify appearance of error messages.
For now I'll just inline it, since I may want to use it in the future.
*/
.field_with_errors { display: inline; }