/*@font-face {  
  font-family: clemente ;  
  src: url( /fonts/ClementePDaa-Hairline.ttf );
}*/

/* Variables */
$maxWidth: 800px;
$topBarHeight: 40px;
$bodyWidth: 1024px;
$headerFooterFont: Myriad Pro,Calibri,Lucida Grande,Lucida Sans,Lucida Sans Unicode,Verdana,sans-serif;

.strikethrough {
	text-decoration: line-through;
}

body {
	max-width: 100%;
	padding-left: 0px;
	padding-top: 0px;
	/*font-family: "clemente", Arial, "MS Trebuchet", sans-serif;*/
	font-family: 'Merriweather', serif;
	width: 100%;
	min-height: 768px;
	font-size: 100%;
	line-height: 1.75em;
	p {
		//margin-left: 10px
		max-width: $maxWidth;
	}
	ol {
		margin-left: 25px;
		max-width: $maxWidth;
		li {
			list-style-type: decimal;
		}

	}
	ul {
		margin-left: 25px;
		max-width: $maxWidth;
		li {
			list-style-type: circle;
		}		
	}
	text-align:justify;
	h1,h2,h3,h4,h5,h6 {
		padding-top: 10px;
	}
	#top_bar{
		position: fixed;
		z-index: 1;
		width : 100%;
		height: $topBarHeight;
		background: #ff3019; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiNmZjMwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNjZjA0MDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-radial-gradient(center, ellipse cover,  #ff3019 1%, #cf0404 99%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#ff3019), color-stop(99%,#cf0404)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #ff3019 1%,#cf0404 99%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #ff3019 1%,#cf0404 99%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #ff3019 1%,#cf0404 99%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #ff3019 1%,#cf0404 99%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

	}

	#title_bar_container{
		width: $bodyWidth;
		margin: auto;
		padding-top: 6px;
		font-family: $headerFooterFont;
		color: #FFF;
		#title_bar{
			padding-left: 25px;
			padding-right: 25px;
			a {
				text-decoration: none;
				color: white;
			}
			#login_logout_link {
				width: 100px;
				float : right;
				a {
					opacity: 0;			
				}
				a:hover{
					opacity : 1;
				}
				li {
					width: 100px;
				}
			}
		}
	}
}	
#body {
	width: 800px;
	margin: auto;
	hr {
		width: 100%;
	}
}

.black_font {
	color: #000;
}


#post_excerpt {
	p {
		margin-left: 100px;
	}
}

#container{
	min-height: 768px;
	width: $bodyWidth;
	margin: auto;
	padding-top: $topBarHeight;
	box-shadow: 0px -25px 25px #C7C5C5;
	-webkit-box-shadow: 0px -25px 25px #C7C5C5;
	-moz-box-shadow:    0px -25px 25px #C7C5C5;
}

#header {
	#title_text {
		//font-size: 250%;
		margin: 1px 0px 10px 5px;
	}
	
}

h2, h4 {
	margin-left: 0px;
}

#nav {
	border-bottom: 1px solid #000;
	font-size: 70%;
	margin-bottom: 10px;
	ul {
		padding-left: 1px;
		margin-top: 1px;
		margin-bottom: 1px;
	}
	
	li {
		list-style-type: none;
		display: inline;
		margin-right: 5px;
		margin-left: 5px;
		a {
			text-decoration : none;
		}
		a:hover{
			text-decoration: underline;
		}
		
	}
}

.comments_link {
	//float: right;
	position: relative;
	font-size: 11px;
	text-align: center;
	background: #FF3019;
	color: #FFF;
	a {
		text-decoration: none;
		color: #FFF;
	}
	margin-left: 30px;

	padding: 5px;
}

/* creates the larger triangle */
.comments_link:before {
	content:"";
	position:absolute;
	bottom:-14px;
	right:10;
	border-width:0 0 15px 14px;
	border-style:solid;
	border-color:transparent #FF3019;
}

#social_links {
	width: 50px;
  float: right;
}

.social_link {
	//margin-left: 2px;
}

#new_post_link {
	width: 50px;
    float: right;
}

#footer {
	font-family: $headerFooterFont;
	#copyright {
		width: 400px;
		margin: auto;
		text-align: center;
	}
}

#error_messages {
	border: 2px solid #FF0000;
	width: 99%;
}

/* Solution for a div that rails adds to modify appearance of error messages.
For now I'll just inline it, since I may want to use it in the future.
*/
.field_with_errors { display: inline; }
