// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
	margin: 50px 0px 50px 0px;
	margin-bottom: 3em;
	margin-top: 2.5em;
	padding-bottom: 4em;

	hr {
		border: 1px dashed #CCCCCC;
	}
	border-bottom: 1px solid #CCC;
}

h2 {
	
}

.post_form_label {
	width: 100px;
	margin-left: 5px;
	
}


.post_title {
	a{
		text-decoration: none;
		color: black;
	}

	a:hover{
		text-decoration: underline;
	}

	font-family: inherit;
	
	h3{
		text-decoration: underline;
		margin-top: 20px;
		margin-bottom: 10px;		
	}
}

.post_excerpt {
	font-size: 80%;
}

#dialog {
	width: 50px;
	height: 60px;
}

.comment {
	padding: 20px;
	color: #000;
	padding-left: 20px;
	#background-color: #B7E0B7;
	#background-color: #FFF4A6;
	#background-color: #B1B1B1;
	background-color: #DBDBDB;
	margin-bottom: 20px;

}

.comment_created_by {
	font-weight: bold;	
	font-style: italic;	
	color: #CC3120;
}

.comment_created_on {
	font-style: italic;	
}

.comment_title {

}

#comment_leave_title{
		
}

#comment_text_area {
	width : 100%;
	//height: 40px;
}

#comment_body_field{
//	height: 100px;
}

#comment_separator {
	margin-bottom: 10px;
}

#error_messages {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}
